<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Your first Spring application</title>
</head>
<body>
<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
<form action="/owners" method="POST">
    <p>Let's add a customer.</p>
    <div>
        <label for="Name">Name:</label>
        <input name="name" id="name" value="<NAME>">
    </div>
    <div>
        <label for="Address">Address:</label>
        <input name="address" id="address" value="123 Main St">
    </div>
    <div>
        <button>Create Owner</button>
    </div>
</form>




</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>